<% content_for :title, "Restaurant Sign Up" %>

<div class="max-w-md mx-auto  p-6 bg-white rounded-md shadow-lg border-2 border-gray-400">
  <h1 class="text-2xl font-bold mb-5 text-center">Sign Up</h1>

  <%= form_with model: @restaurant, url: signup_path, local: true do |f| %>
    <div class="mb-4">
      <%= f.label :name, class: "block font-medium mb-1" %>
      <%= f.text_field :name, class: "w-full border px-3 py-2 rounded-md" %>
    </div>

    <div class="mb-4">
      <%= f.label :slug, class: "block font-medium mb-1" %>
      <%= f.text_field :slug, class: "w-full border px-3 py-2 rounded-md" %>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: "block font-medium mb-1" %>
      <%= f.email_field :email, class: "w-full border px-3 py-2 rounded-md" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block font-medium mb-1" %>
      <%= f.password_field :password, class: "w-full border px-3 py-2 rounded-md" %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class: "block font-medium mb-1" %>
      <%= f.password_field :password_confirmation, class: "w-full border px-3 py-2 rounded-md" %>
    </div>

    <%= f.submit "Sign Up", class: "w-full bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-md font-medium" %>
  <% end %>
</div>
